body {
    margin: 0;
    padding: 0;
}

.page {
    page-break-before: always;
    position: relative;
    margin: 0;
    padding: 0;
}

.chapter-title {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: bold;
}

.photo {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
}