body {
    margin: 0;
    padding: 0;
}

.page {
    page-break-before: always;
    position: relative;
    border: 4px solid purple;
}

.photo {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
}