body {
    margin: 0;
    padding: 0;
}

.page {
    /* page-break-before: always; */
    position: relative;
    margin: 0;
    padding: 0;
}

.photo {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
}