body {
    margin: 0;
    padding: 0;
}

.page {
    page-break-before: always;
    position: relative;
    margin: 0;
    padding: 0;
}
.debug .page {
    border: 1px solid red;
}

.page:first-of-type {
    page-break-before: unset;
}

.chapter .title {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0 0 0;
    box-sizing: border-box;
}

.chapter .photos {
    margin: 0 0 0 0;
}

.photo {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
}
